body {
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: stretch;
}

.banner {
background-image: url("images/forest.jpg");
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 550px;
}

.ribbon {
    display: flex;
    background-color: #00000080;
    color: white;
    margin: 150px 0px;
    padding: 10px;
    font-size: 96px;
    align-items: center;
    justify-content: center;
    
}

.credit {
    color: #ffffff70;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

a {
    color: #ffffff70;
}

.icon {
    height: 120px;
    width: auto;
}

.info {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #111111;
    margin: 0;
    padding: 100px 40px 40px;

}

form {
    background-color: #ffffff;
}

button {
    background-color: #4f5c3d;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px;
    margin: 40px 40px 20px;
}

p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 40px;
}

a {
    color: #4f5c3d;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}