body {
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: stretch;
}

.banner {
background-image: url("images/forest.jpg");
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 550px;
}

.ribbon {
    display: flex;
    background-color: #00000080;
    color: white;
    margin: 93px 0px;
    padding: 10px;
    font-size: 96px;
    align-items: center;
    justify-content: center;
    
}

.credit {
    color: #ffffff70;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

a {
    color: #ffffff70;
}

.icon {
    height: 120px;
    padding: 5px 10px;
    width: auto;
}

.info {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #111111;
    margin: 0;
    padding: 100px 40px 40px;

}

form {
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #111111;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0px;
}

button {
    background-color: #4f5c3d;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #4f5c3d;
    border-radius: 8px;
    padding: 15px;
    margin: 40px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
}

button:hover {
    background-color: #6b7c52;
}

button:active {
    background-color: #333b28;
}

p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 40px;
    color: #111111;
}

a {
    color: #4f5c3d;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}

label {
    color: #505764;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

.formRow {
    display: flex;

}

.formItem {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
}

#formLabel {
    padding: 15px 40px;
    font-size: 20px;
}

input {
    border: 2px solid #ebedf0;    
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-top: 1px;
    padding: 4px 8px;
    font-size: 16px;

}

input :focus {
    border-color: #5a73d6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;

}

input:invalid, .invalid {
    border-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

#password_error {
    color: red;
    font-size: 12px;
    padding: 2px;
}